body {
	background-color: #ddd;
	background-image: url("/public/image/pattern.jpg");
	margin: 0;
}

h1 { color: #444; }
p {
	color: #555;
	font-size: 16px;
}

.position-absolute{
	position: absolute;
}

.position-inherit{
	position: inherit;
}

header {
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	height: 60px;
	max-height: 60px;
}

header.light-mode{
	background: white;
	box-shadow: 0 10px 20px rgb(0,0,0,0.05);
}

header.dark-mode{
	background: #555;
	box-shadow: 0 10px 20px rgb(254,254,254,0.05);
}


header nav{
	height: 50px;
	max-height: 50px;
	display: inline;
	float: left;
}

header nav a {
	padding: .8vh 2.5vh 0;
	text-decoration: none;
	color: #666;
}

header.light-mode nav a {
	color: #666;
}

header.dark-mode nav a {
	color: #fff;
}

header nav a:hover {
	font-weight: 600;
}

header nav a:active {
	font-weight: 600;
}

header nav a:visited {
	font-weight: 600;
}

header.light-mode nav a:hover {
	color: #444;
}

header.light-mode nav a:active {
	color: #444;
}

header.light-mode nav a:visited {
	color: #444;
}

header.dark-mode nav a:hover {
	color: #fff;
}

header.dark-mode nav a:active {
	color: #fff;
}

header.dark-mode nav a:visited {
	color: #fff;
}

section{
	width: 80%;
	margin: auto;
	margin-top: 80px;
	padding: 20px;
	background: white;
	border-radius: 10px;
	box-shadow: 1px 4px 12px rgb(0,0,0,0.1)
}

h1{
	width: 100%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px #eee solid;
}

footer {
	margin-top: 20px;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #fefefe;
	padding: 5px 0;
}

footer h5{
	text-align: center;
	color: #555
}

header .toggle-menu{
	padding: 1.3vh 2.5vh 0;
	height: 60px;
	max-height: 60px;
	display: inline-block;
	float:right;
}

.btn{
	padding: 10px;
	border-radius: 5px;
}

.btn.dark-mode{
	background-color: #555;
	color: #fff;
	border-color: #555;
	box-shadow: 2px 4px 5px rgb(0,0,0,0.1)
}

.btn.light-mode{
	background-color: #fff;
	color: #555;
	border-color: #fff;
	box-shadow: 2px 4px 5px rgb(254,254,254,0.1)
}
